<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfp.gmall.manager.mapper.PmsBaseAttrInfoMapper">


<select id="attrInfoList" parameterType="string"
        resultType="com.xfp.gmall.manager.bean.PmsBaseAttrInfo">
    select pai.*  from pms_base_attr_info pai
    where pai.catalog3_id=#{catalog3Id}
</select>

    <insert id="saveAttrInfo"
            parameterType="com.xfp.gmall.manager.bean.PmsBaseAttrInfo"
            useGeneratedKeys="true" keyProperty="id">
     insert into pms_base_attr_info(attr_name,catalog3_id,is_enabled)
     values (#{attrName},#{catalog3Id},#{isEnabled})
    </insert>

    <update id="updateAttrInfoById" parameterType="com.xfp.gmall.manager.bean.PmsBaseAttrInfo">
        update pms_base_attr_info set attr_name=#{attrName},
        is_enabled=#{isEnabled} where pms_base_attr_info.id=#{id}
    </update>


</mapper>