<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfp.gmall.order.manager.mapper.PmsProductInfoMapper">


    <insert id="saveProductInfo" parameterType="com.xfp.gmall.manager.bean.PmsProductInfo"
    useGeneratedKeys="true"  keyProperty="id">
        insert into pms_product_info(product_name,description,catalog3_id)
        values(#{productName},#{description},#{catalog3Id})
    </insert>



</mapper>