<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfp.gmall.order.manager.mapper.PmsSkuImageMapper">

    <insert id="saveSkuImages" parameterType="com.xfp.gmall.manager.bean.PmsSkuImage">
        insert into pms_sku_image(product_img_id,img_name,img_url,is_default,sku_id)
        values
        <foreach collection="list" item="img" separator=",">
            (#{img.spuImgId}, #{img.imgName},#{img.imgUrl},#{img.isDefault},#{img.skuId})
        </foreach>
    </insert>

    <select id="findSkuImgsBySkuId" parameterType="string" resultType="com.xfp.gmall.manager.bean.PmsSkuImage">
        select pki.id,pki.sku_id,pki.img_name,pki.img_url,
        pki.product_img_id as spu_img_id,pki.is_default
         from pms_sku_image pki
        where pki.sku_id=#{skuId}
    </select>



</mapper>